/* work sans font */
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&family=Open+Sans:wght@700;800&family=Work+Sans:ital,wght@0,400;0,600;0,700;0,800;1,500&display=swap');
  /* shared styles */
  *{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
  }
  .btn-primary{
    border-radius: 8px;
    background: #FF900E;
    color: #fff;
    padding: 20px 25px;
    border: 0;
    font-size: 1.25rem;
    cursor: pointer;
  }
  /* header parts styles */
  header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
  }
  /* nav styles */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title{
  color: #131313;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 700;

}
nav>ul{
  display: flex;
  
}
nav li{
  margin-right: 30px;
  list-style: none;
  font-weight: 500;
  font-size: 1rem;
}
nav a{
  text-decoration: none;
  color: #424242;
}
/* banner styles */
.banner-content{
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title{
  font-size: 4rem;
  font-weight: 700px;
  color: #131313;
  margin-top: 100px;
}
.banner-description{
  font-size: 1rem;
  line-height: 1rem;
  margin: 25px;
}
.banner-img{
  margin-top: 20px;
  width: 100%;
}




/* responsive styles */
@media screen and (max-width: 576px) {
  header{
    padding: 20px;
  }
  nav{
    flex-direction: column;
  }
  .nav-title{
    margin-bottom: 20px;
  }

  }

  @media screen and (min-width: 576px) and (max-width:960px) {
    header{
      padding: 30px;
    }
    .nav-title{
      margin-bottom: 20px;
    }
    nav{
      flex-direction: column;
    }
  }

